
Temp/
Library/

code/ExportedObj/
code/obj/
*.svd
*.userprefs
code/*.csproj
*.pidb
*.suo
code/*.sln
*.user
*.unityproj
*.booproj

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.csproj
*.sln
*.csproj
*.sln
*.csproj
*.sln
code/Assembly-CSharp-Editor-vs.csproj
code/Assembly-CSharp-Editor.csproj
code/Assembly-CSharp-vs.csproj
code/Assembly-CSharp.csproj
code/code-csharp.sln
code/code.sln
code/Assets/AstarPathfindingProject/ExampleScenes/Example2_Terrain/Pathfinding_Terrain.asset
code/ProjectSettings/QualitySettings.asset
